body{
    background: url(../image/wallpaper_log.jpg);
    background-color: white;
    background-size: 100%;
}
::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.5);
    background   : #ededed;
    border-radius: 10px;
}
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
}

#logo {
    background:url(../image/logo_summer.png) no-repeat center center;
    background-size: 110px;
    display: inline-block;
    height: 110px;
    width: 110px;
    margin-right: 10px;
    animation: logo_rotation 4s ease-in-out infinite;
}
@keyframes logo_rotation {
    40% {
        transform: rotateY(0deg);
    }
    70% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
#markword_wrapper {
    display: inline-block;
    position: relative;
    width: 290px;
    height: 110px;
    overflow: hidden;
    left: -10px;
    bottom: -20px;
}
#markword_and_repo {
    width: 600px;
    cursor: pointer;
    transition: ease-in-out 1s;
}
#markword_and_repo:hover {
    transform: translateX(-290px);
}
#markword {
    background: linear-gradient(to right, green 60%, yellowgreen 40%);
    float: left;
    height: 110px;
    width: 290px;
    font-size: 80px;
    font-weight: bold;
    font-family: Verdana;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    padding-left: 0px;
}
#repo {
    background: linear-gradient(to right, rgb(214, 134, 13) 50%, rgb(142, 151, 18) 50%);
    background-clip: content-box;
    float: left;
    height: 110px;
    max-width: 300px;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    padding-left: 10px;
}

#search_btn_switch {
    display: block;
    border: 0px;
    width: 680px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    background-color: transparent;
}
#search_engine {
    border-top: 0px;
    border-right: 0px;
    border-left: brown 5px;
    border-bottom: 0px;
    width: 50px;
    height: 50px;
    float: left;
    background: url(../image/baidu.png) center center;
    background-color: rgb(80, 136, 25);
    background-size: 50px 50px;
    cursor: pointer;
    border-radius: 30px 0px 0px 30px;
}
#btn {
    border-left: 0px;
    border-top: 0px;
    border-right: brown 5px;
    border-bottom: 0px;
    float: left;
    background: url(../image/arrow_2_white.png) center center;
    background-size: 50px 50px;
    background-color: rgb(101, 54, 36);
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 0px 30px 30px 0px;
}
#text {
    background-color: snow;
    outline-style: none;
    border-top: 2px saddlebrown;
    border-bottom: 2px saddlebrown;
    border-left: 0px;
    border-right: 0px;
    caret-color: rgb(80, 136, 25);
    text-align: center;
    font-weight: bold;
    color: rgb(102, 81, 36);
    font-size: 16px;
    font-family: "Microsof JhengHei", monospace;
    padding: 5px;
    overflow: hidden;
    height: 50px;
    width: 580px;
    float: left;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    box-shadow: inset 0px 0px 0px 0px brown;
}
#text:focus::placeholder {
    text-align: left;
}
#text:focus {
    cursor: auto;
    transform: scale(1);
    box-shadow: inset 0px 0px 1.5px 2px #5abd00;
    background-color: rgb(255, 255, 255, 0.8);
}
#text:hover {
    cursor: auto;
    animation: switch 0.4s ease-in-out 2; 
}
@keyframes switch {
    0% {
        width: 580px;
    }
    50% {
        width: 550px;
    }
    100% {
        width: 580px;
    }
}