body{
    background:none;
    background-size: 100%;
}
::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.5);
    background   : #ededed;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
}

#logo {
    background:transparent url(../image/logo_spring.png) no-repeat center center;
    background-color: white;
    background-size: 110px;
    display: inline-block;
    height: 110px;
    width: 110px;
}
#markword_wrapper {
    display: inline-block;
    position: relative;
    width: 290px;
    height: 110px;
    overflow: hidden;
    left: -10px;
    bottom: -20px;
}
#markword_and_repo {
    width: 600px;
    cursor: pointer;
    transition: ease-in-out 1s;
}
#markword_and_repo:hover {
    transform: translateX(-290px);
}
#markword {
    background: linear-gradient(to right, green 60%, yellowgreen 40%);
    float: left;
    height: 110px;
    width: 290px;
    font-size: 80px;
    font-weight: bold;
    font-family: Verdana;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    padding-left: 0px;
}
#repo {
    background: linear-gradient(to right, rgb(214, 134, 13) 50%, rgb(142, 151, 18) 50%);
    background-clip: content-box;
    float: left;
    height: 110px;
    max-width: 300px;
    font-size: 80px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
    padding-left: 10px;
}

#search_btn_switch {
    display: block;
    border: 0px;
    width: 680px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    background-color: transparent;
}
#search_engine {
    width: 50px;
    height: 50px;
    float: left;
    border: 0px;
    background-color: rgb(80, 136, 25);
    border-radius: 30px 0px 0px 30px;
}
#btn {
    border: 0px;
    float: left;
    background-color: blanchedalmond;
    height: 50px;
    width: 50px;
    border-radius: 0px 30px 30px 0px;
}
#text {
    border: 0px;
    text-align: center;
    color: rgb(102, 81, 36);
    font-size: 16px;
    font-family: "Microsof JhengHei", monospace;
    padding: 5px;
    overflow: hidden;
    background-color: burlywood;
    height: 50px;
    width: 580px;
    float: left;
}